{% extends "base.html" %}

{% block title %}Welcome to Practice-Learn{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1 class="hero-title">Welcome to Practice & Learn</h1>
        <p class="hero-subtitle">Test your german knowledge with our quizzes</p>
    </div>
</section>

<section class="features">
    <div class="features-grid">
        <div class="feature-card">
            <h3 class="feature-title">LEARN</h3>
            <p class="feature-description">There is no shame in learning first</p>
        </div>
        <div class="feature-card">
            <a h3 class="feature-title" href="{{ url_for('practice.show_list') }}">PRACTICE</a>
            <p class="feature-description">Challenge yourself with practice questions</p>
        </div>
    </div>
</section>
{% endblock %}